.living-styleguide
{
    .sidebar
    {
        position: fixed;

        width: 140px;
        padding: 25px 30px;
        .menu
        {
            margin-top: 15px;
            .menu-item
            {
                font-size: 0.9em;
                font-weight: light;

                text-decoration: none;

                color: #555;
            }
        }
    }
    .styleguide
    {
        // display: table;

        // margin-left: 215px;
        .element
        {
            margin: 30px 20px;
            padding: 20px;

            border-top: 1px solid #eceaea;
            border-radius: 2px;
            background-color: #fff;
            box-shadow: 0 2px 2px 0 #a0a0a0;
            .card
            {
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .details
            {
                margin-bottom: 20px;
            }
            .in-action
            {
                .guide-headline
                {
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                .output
                {
                    .raw
                    {
                        margin-bottom: 20px;
                        padding: 10px;

                        border: 1px solid #eee;
                        background-color: #efefef;

                        .marker {
                            vertical-align: top;
                        }
                    }
                }
            }
        }
    }
}
