.main-menu
{

    &.card {
         margin: 20px;
    }

    display: block;
    overflow: visible;

    max-width: 60px;
    max-height: 60px;
   
    .icon-container
    {
        padding: 10px 8px 3px;

        text-align: center;
    }
    .card
    {
        position: relative;
        top: -50px;
        left: 10px;

        display: none;

        width: 350px;
        margin: 0 !important;

        .box-shadow-mixin(3);

        z-index: 5;

        &:hover, &:active {
            .box-shadow-mixin(3);
        }
    }
    .icon
    {
        display: inline-block;

        color: @primary-color;
        &:hover
        {
            color: lighten(@primary-color, 10%);
        }
    }
}

.menu-pull-up
{
    position: absolute;
    top: 0;
    right: 0;

    display: none;

    min-width: 150px;
    padding: 0;

    border-top: 1px solid #eceaea;
    background-color: #fff;
    box-shadow: 0 2px 2px 1px #a0a0a0;
    .menu-list-item
    {
        &:hover
        {
            background-color: #eee;
        }
        &.separator
        {
            border-bottom: 1px solid #eee;
        }
    }
    .menu-item
    {
        font-weight: 400;
        line-height: 20pt;

        display: block;

        padding: 6px 20px;

        text-decoration: none;
        text-transform: initial;

        color: #555;
    }
}
