.form
{
    padding: 20px;
    .form-group
    {
        .label
        {
            font-size: .8em;
            font-weight: 600;

            display: block;

            padding-bottom: 0;

            text-transform: uppercase;

            color: @body-copy-color-light;
        }
        .input
        {
            font-family: @font-family;
            font-size: 1em;
            font-weight: 300;

            width: 100%;
            margin-bottom: 30px;
            padding: 15px 0;

            border: 0;
            border-bottom: 1px solid #ccc;
            outline: none;
            &:focus
            {
                border-bottom: 3px solid #61a7ca;
            }
        }
    }
}
