* {
    box-sizing: border-box;
}

html
{
    font-family: @font-family;
    font-size: 100%;
    line-height: 20pt;
}
body
{
    font-size: 14px;
    line-height: 20pt;

    color: @body-copy-color;
    background-color: #eee;
}
a {
    text-decoration: none;
    color: #0F6996;
}
p
{
    padding-top: 10px;
    padding-bottom: 20px;
}

.pull-right
{
    float: right;
}

.pull-left
{
    float: right;
}

.icon
{
    color: @body-copy-color-light;
}
.crime-time-relative
{
    font-size: .9em;

    color: @body-copy-color-light;
    .prefix,
    .digit,
    .unit,
    .suffix
    {
        font-weight: 400;
        text-transform: lowercase;
    }
}
