.report-control
{
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 470px;
    margin: 20px;

    overflow: hidden;

    transform: translateX(-53%);
    
    .report-btn
    {
        font-size: 1.3em;
        font-weight: 400;
        line-height: 1.3;

        width: 100%;
        height: 60px;
        padding: 20px;

        color: #fff;
        background-color: @primary-color;
        &:hover,
        &:active
        {
            color: #fff;
            background-color: lighten( @primary-color, 10%);
        }
    }
}

.confirm-location-control
{
    top: 50%;
    left: 50%;

    transform: translate(-56.5%, 5%);
    .btn
    {
        color: @body-copy-color;
    }
}
